<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="nav">
    <div class="nav__toggle">

        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>


        <ul class="nav__toggle__menu">
            <a href="/">
                <li>home</li>
            </a>
            @if (_isAuthenticated)
            {
                <a href="/profile/@_loggedInUser" onclick="@(() => GoToProfile(_loggedInUser))">
                    <li>profile</li>
                </a>
                <a href="/messages">
                    <li>messages</li>
                </a>
                <a href="" onclick="@LogOut">
                    <li>log out</li>
                </a>
            }
            else
            {
                <a href="/login">
                    <li>log in</li>
                </a>
            }
        </ul>

    </div>
    <div class="nav__logo">
        <a href="/"><img src="./images/socialnetworklogo.png" alt="social network logo" /></a>
    </div>
    @if (_isAuthenticated)
    {
        <div class="nav__search">
            <EditForm Model="@SearchModel">
                <input class="nav__search__box" type="text" placeholder="Search username..." @bind-value="@SearchModel.Search" />
                <button class="nav__search__button" type="submit" onclick="@SearchByUsername">Search</button>
            </EditForm>
        </div>
    }
</div>