<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="wall-content">
	@if (!IsLoading)
	{
		<h3 class="wall-content__welcome-message">Welcome, @(_loggedInUser)!</h3>
		<br />
		
		<EditForm model="@PostModel" OnSubmit="@PublishPost">
			<textarea class="wall-content__text" placeholder="What are you up to today?" @bind="PostModel.Content" required></textarea>
			<button class="wall-content__submit" type="submit">Post</button>
		</EditForm>

		
		@foreach(var post in Posts)
		{
			<div class="wall-content__posts">
				<div class="wall-content__posts__post">
					@if (post.Username != _loggedInUser && post.WallOwner == _loggedInUser)
					{
						<h3><a href="/profile/@post.Username">@post.Username</a> posted on your wall</h3>
					}
					else if (post.Username != _loggedInUser && post.WallOwner != _loggedInUser)
					{
						if (post.WallOwner == post.Username)
						{
							<h3><a href="/profile/@post.Username">@post.Username</a></h3>
						}
						else
						{
							<h3><a href="/profile/@post.Username">@post.Username</a> posted on <a href="/profile/@post.WallOwner">@(post.WallOwner)'s</a> wall</h3>
						}
					}
					else if (post.Username == _loggedInUser && post.WallOwner != _loggedInUser)
					{
						<h3>You posted on <a href="/profile/@post.WallOwner">@(post.WallOwner)'s</a> wall</h3>
					}
					else
					{
						<h3><a href="/profile/@post.Username">@post.Username</a></h3>
					}
					<p>@post.Content</p>

			</div>
			</div>
			
		}
		<br />
	}
	else
	{
		<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	}
</div>