<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h3>Welcome, @(_username)!</h3>

<div class="wall-content">
	<EditForm model="@PostModel" OnSubmit="@PublishPost">
		<textarea class="wall-content__text" placeholder="What are you up to today?" @bind="PostModel.Content" required></textarea>
		<button class="wall-content__submit" type="submit">Post</button>
	</EditForm>

	@foreach(var post in Posts)
	{
		<div class="wall-content__posts">
			<h2>@post.Username</h2>
			<p>@post.Content</p>
		</div>

	}
</div>