@page "/messages";
@using Frontend.Components
@using Frontend.Layout
@layout Empty

<Navigation />

<h2 class="message-title">Inbox</h2>
<hr/>
<div class="messages-wrapper">
    <div class="current-message">
        <h3>Current message</h3>
        <div class="current-message__content">
            @if (!string.IsNullOrEmpty(CurrentMessage.Content))
            {
                <h5>Sender: <a href="/profile/@CurrentMessage.Sender">@CurrentMessage.Sender</a></h5>
                <h5>Reciever: @CurrentMessage.Reciever</h5>
                <h6>@CurrentMessage.DateSent</h6>
                <div class="current-message__content__text">
                    <p>@CurrentMessage.Content</p>
                </div>
            }
        </div>
            
    </div>
    <div class="messages">
        <h3>All messages</h3>
        @foreach (var message in UserMessages)
            {
                <div class="one-message">
                    <h4>@message.Sender</h4>
                    <p>@(message.Content.Substring(0, (message.Content.Length <= 14 ? message.Content.Length : 14)))@(message.Content.Length > 14 ? "..." : "")</p>
                    <button class="message-button" onclick="@(() => SetCurrentMessage(message))">Open</button>
                </div>
            }
    </div>
</div>

