@page "/profile/{Username}"
@using Frontend.Components
@using Frontend.Layout
@layout Empty

<Navigation />

<div class="profile-content">
	@if (!IsLoading)
	{
		@if (ShowDialog)
		{
			<div class="message-wrapper">
				<div class="message-wrapper__profile-dialog">
					<EditForm Model="@MessageModel" OnValidSubmit="@SendMessage">
						<button class="message-wrapper__profile-dialog__close" onclick="@ToggleMessageDialog">✖</button>
						<br>
						<textarea class="message-wrapper__profile-dialog__text" placeholder="Send a private message to @ProfileUser.Username..." @bind="MessageModel.Content" required></textarea>
						<br />
						<button class="message-wrapper__profile-dialog__button" type="submit">Send</button>
					</EditForm>
				</div>
			</div>			
		}
		
		<div class="profile-content__info">
			<h2>@(ProfileUser.Username)'s profile</h2>
			<br />
			<h4>@ProfileUser.FirstName @ProfileUser.LastName</h4>
			<h4>Followers @UserFollowersCount - Following @ProfileUser.Follows?.Count</h4>
			<div class="profile-content__info__buttons">
			@if (LoggedInUser.Username != ProfileUser.Username)
			{
				
					@if (LoggedInUser.Follows.Any(x => x.Username == ProfileUser.Username))
					{
						<button class="profile-content__info__buttons__unfollow-user" onclick="@UnFollowUser">Unfollow</button>

						<br />
					}
					else
					{
						<button class="profile-content__info__buttons__follow-user" onclick="@FollowUser">Follow</button>

						<br />
					}
					<button class="profile-content__info__buttons__send-message" onclick="@ToggleMessageDialog">Send Message</button>
				
			}
			</div>
		</div>
		<br />
		<EditForm model="@PostModel" OnSubmit="@PostOnWall">
			<textarea class="profile-content__text" placeholder="@(ProfileUser.Username == LoggedInUser.Username ? "What did you do today?" : $"Share something with {ProfileUser.Username}!")" @bind="PostModel.Content" required></textarea>
			<button class="profile-content__submit" type="submit">Post</button>
		</EditForm>

		<div class="profile-content__posts">
			@foreach (var post in Posts)
			{
				<div class="profile-content__posts__post">
					@if (post.Username != ProfileUser.Username)
					{
						<h3><a class="profile-content__link" onclick="@(() => GoToProfile(@post.Username))">@post.Username</a> posted on @(ProfileUser.Username == LoggedInUser.Username ? "your" : $"{ProfileUser.Username}'s") wall</h3>
					}
					else
					{
						<h3>@post.Username</h3>
					}
					<p>@post.Content</p>
				</div>
			}
		</div>
	}
	else
	{	
		<div class="profile-content__info">
			<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	}
</div>