@page "/profile/{Username}"
@using Frontend.Components
@using Frontend.Layout
@layout Empty

<Navigation />

<div class="profile-content">
	@if (!IsLoading)
	{
		@if (ShowDialog)
		{
			<div class="profile-dialog">
				<textarea class="profile-dialog__text" placeholder="Send a private message..." @bind="MessageModel.Content" required></textarea>
				<br />
				<button class="profile-dialog__button" onclick="@SendMessage">Send</button>
				<button onclick="@ToggleMessageDialog">Close</button>
			</div>
		}
		
		<div class="profile-content__info">
			<h2>@(ProfileUser.Username)'s profile</h2>
			<br />
			<h4>@ProfileUser.FirstName @ProfileUser.LastName</h4>
			<h4>Followers @UserFollowersCount - Following @ProfileUser.Follows?.Count</h4>
			@if (LoggedInUser.Username != ProfileUser.Username)
			{
				<br />
				@if (LoggedInUser.Follows.Any(x => x.Username == ProfileUser.Username))
				{
					<button onclick="@UnFollowUser">Unfollow</button><br />
				}
				else
				{
					<button onclick="@FollowUser">Follow</button><br />
				}
				<button onclick="@ToggleMessageDialog">Send Direct Message</button>
			}
		</div>
		<br />
		<EditForm model="@PostModel" OnSubmit="@PostOnWall">
			<textarea class="profile-content__text" placeholder="@(ProfileUser.Username == LoggedInUser.Username ? "What did you do today?" : $"Share something with {ProfileUser.Username}!")" @bind="PostModel.Content" required></textarea>
			<button class="profile-content__submit" type="submit">Post</button>
		</EditForm>

		<div class="profile-content__posts">
			@foreach (var post in Posts)
			{
				<div class="profile-content__posts__post">
					@if (post.Username != ProfileUser.Username)
					{
						<h3><a class="profile-content__link" onclick="@(() => GoToProfile(@post.Username))">@post.Username</a> posted on @(ProfileUser.Username == LoggedInUser.Username ? "your" : $"{ProfileUser.Username}'s") wall</h3>
					}
					else
					{
						<h3>@post.Username</h3>
					}
					<p>@post.Content</p>
				</div>
			}
		</div>
	}
	else
	{
		<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	}
</div>