@page "/profile/{Username}"
@using Frontend.Components
@using Frontend.Layout
@layout Empty

<Navigation />

<div class="profile-content">
	@if (!IsLoading)
	{
		<div class="profile-content__info">
			<h2>@(User.Username)'s profile</h2>
			<br />
			<h4>@User.FirstName @User.LastName</h4>
			<h4>@User.Email</h4>
		</div>
		<br />
		<EditForm model="@PostModel" OnSubmit="@PostOnWall">
			<textarea class="profile-content__text" placeholder="@(User.Username == _loggedInUser ? "What did you do today?" : $"Share something with {User.Username}!")" @bind="PostModel.Content" required></textarea>
			<button class="profile-content__submit" type="submit">Post</button>
		</EditForm>

		<div class="profile-content__posts">
			@foreach (var post in Posts)
			{
				<div class="profile-content__posts__post">
					@if (post.Username != User.Username)
					{
						<h3><a class="profile-content__link" onclick="@(() => GoToProfile(@post.Username))">@post.Username</a> posted on @(User.Username == _loggedInUser ? "your" : $"{User.Username}'s") wall</h3>
					}
					else
					{
						<h3>@post.Username</h3>
					}
					<p>@post.Content</p>
				</div>
			}
		</div>
	}
	else
	{
		<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	}
</div>